$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #eeeeee;
$gray-light: #6a727f;
$gray-dark: #001e28;
$gray-darker: #252b36;
$gray-item: #333333;
$blue-color: #4944f2;
$gray-lighter: #dadada;
$gray-hover: #c8cdcd;
$red-color: #dc0000;
$yellow-light: #fff2ce;
$pink-color: #ff00ff;
$purple-color: #7e85cd;
